@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    overflow-x:hidden;
  }
@font-face {
    font-family: 'LOVES';
    src: url('/fonts/LOVES.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.text-shadow {
  text-shadow: 1px 1px 5px black;
}